/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #5e5e5e;
    font-weight: 700;
}

/* UTILITY */
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    color: white;
}

li{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

.rounded{
    border-radius: 50%;
}

.add-btn{
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: #000;
    background-color: grey;
}

.bar{
    height: 5px;
    border-radius: 5px;
    background-color: #5e5e5e;
}

.left-green-border{
    border-left: 5px solid #adff2f;
}

/* MAIN CONTENT*/
.main-window{
    height: calc(100vh - 80px);
}

.sidebar,
.content,
.sidebar-top{
    overflow-y: hidden;
}

/* sidebar */
.sidebar{
    flex-basis: 270px;
    min-width: 200px;
    background-color: #000;
}

.sidebar-top{
    height: calc(100% - 80px);
}

.sidebar-top .logo img{
    height: 80px;
}

.sidebar-top .logo-small{
    width: 30px;
    display: none;
}

.sidebar-top nav ul img{
    width: 40px;
}

.sidebar-top nav ul li{
    margin-top: 20px;
    align-items: center;
}

.sidebar-bottom{
    height: 80px;
}

.sidebar-bottom i{
    font-size: 10px;
    padding: 1px;
    border: 1px solid currentColor;
    border-radius: 50%;
}

.sidebar-bottom img{
    width: 30px;
    padding: 5px;
    background-color: grey;
    border: 1px solid currentColor;
}

.sidebar-bottom .download,
.sidebar-bottom .profile-name{
    align-items: center;
}

/* content */
.content{
    flex-grow: 1;
    background-color: #141922;
    position: relative;
}

.content-top-bar{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-top-bar .upgrade-btn{
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid currentColor;
    border-radius: 30px;
}

.content .scrollable{
    height: 100%;
    padding: 80px 15px 0;
    overflow-y: auto;
}

.content-menu ul{
    line-height: 2;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-category{
    margin-bottom: 30px;
}

.album-list{
    flex-wrap: wrap;
}

.album-list .album{
    min-width: 110px;
    min-height: 110px;
    flex-basis: calc(100% / 6 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.album .cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* FOOTER (player) */
.player{
    height: 80px;
    font-size: 12px;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

/* player album */
.player-album,
.player-audio{
    flex-basis: 25vw;
}

.player-album{
    align-items: center;
}

.player-album img{
    max-height: 50px;
}

.song-name{
    max-width: 150px;
}

.like{
    flex-wrap: nowrap;
    font-size: 20px;
}

/* player controller */
.player-controller{
    flex-basis: 50vw;
}

.controller-top{
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.controller-top i{
    margin: 0 1rem;
    cursor: pointer;
}

.fa-play-circle{
    font-size: 30px;
}

.time{
    justify-content: center;
    align-items: center;
}

.time .bar{
    width: 60%;
}

.time .bar span{
    width: 25%;
    border-radius: 5px;
    background-color: #fff;
}

/* player audio */
.player-audio{
    flex-basis: 25vw;
    font-size: 15px;
    justify-content: flex-end;
    align-items: center;
}

.player-audio i{
    cursor: pointer;
}

.player-audio .bar{
    width: 20%;
}

.player-audio .bar span{
    width: 50%;
    border-radius: 5px;
    background-color: #fff;
}

/*****************
RESPONSIVE
******************/
@media screen and (max-width: 1199px){ 
    .album-list .album{
        flex-basis: calc(100% / 4 - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px){ 
    .album-list .album{
        flex-basis: calc(100% / 2 - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px){ 
    .sidebar{
        flex-basis: 60px;
        min-width: 60px;
    }

    .sidebar-top .logo-small{
        display: block;
    }

    .sidebar .mobile-no{
        display: none;
    }

    .like{
        flex-wrap: wrap;
    }

    .player-controller .controller-top{
        justify-content: space-between;
    }
}