/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #5e5e5e;
    font-weight: 700;
}

/* UTILITY */
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    color: white;
}

li{
    list-style: none;
}

/* MAIN CONTENT*/
.main-window{
    height: calc(100vh - 80px);
}

.sidebar,
.content{
    overflow-y: hidden;
}

/* sidebar */
.sidebar{
    flex-basis: 230px;
    background-color: #000;
}

.sidebar-top{
    height: calc(100% - 80px);
}

.sidebar-top .logo img{
    height: 100px;
}

.sidebar-top nav ul img{
    width: 40px;
}

.sidebar-top nav ul li{
    padding-top: 20px;
    align-items: center;
}

.sidebar-bottom{
    height: 80px;
}

.sidebar-bottom i{
    font-size: 10px;
    padding: 1px;
    border: 1px solid currentColor;
    border-radius: 50%;
}

.sidebar-bottom img{
    width: 30px;
    padding: 5px;
    background-color: grey;
    border: 1px solid currentColor;
    border-radius: 50%;
}

.sidebar-bottom .download,
.sidebar-bottom .profile-name{
    align-items: center;
}

/* content */
.content{
    flex-grow: 1;
    background-color: #141922;
    position: relative;
}

.content-top-bar{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-top-bar .upgrade-btn{
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid currentColor;
    border-radius: 30px;
}

.content .scrollable{
    height: 100%;
    padding: 80px 15px 0;
    overflow-y: auto;
}

.content-menu ul{
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.content-category{
    margin-bottom: 30px;
}

.album-list{
    flex-wrap: wrap;
}

.album-list .album{
    flex-basis: calc(100% / 6 - 15px);
    height: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    /* background-color: white; */
}

.album .cover img{
    max-width: 100%;
}

/* FOOTER */
.player{
    height: 80px;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

.player-album,
.player-audio{
    flex-basis: 230px;
}
